*{

margin: 0;
padding:0;
font-family:'poppins',sans-serif;
box-sizing:border-box;
}
body
{
   background-image:url('images/bg.jpg');
     
}
.card
{
    width:90%;
    max-width: 470px;
    background:linear-gradient(135deg,#00feba,#5b548a);
    color:white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px;
    text-align:center ;

}
.search
{
    width:100%;
    display: flex;
    align-items:space-between;
    justify-content:space-between;
}
.search input
{
 border: 0;
 outline:0;
 background:white;
 color:black;
 padding:10px 25px;
 height:60px;
 border-radius: 30px;
 flex:1;
 margin-right:16px;
 font-size: 18px;
}

.search-button  {
    border: 0;
    outline: 0;
    background: white; 
    border-radius: 50%;
    width: 2px;
    height:2px;
    cursor: pointer;
}

.search button img
{
width: 40px;    
}

.weather-icon
{
    width:170px;
    margin-top:30px;
}

.weather h1
{
 font-size: 80px;
 font-weight:500 ;
}


.weather h2
{
 font-size: 45px;
 font-weight:400 ;
 margin-top:-10px ;
}

.details
{
    display:flex ;/*create two columns*/
    align-items:center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col
{
    display:flex ;/*create two columns*/
    align-items:center;
    text-align: left; 
}

.col img
{
 width:40px;
 margin-right: 10px;
}

.humidity,.wind
{
 font-size:28px;
 margin-top: -6px;
}

.hum
{
    font-size:17px;
    margin-top: 70px; 
    margin-left: -80px;
    
}

.speed
{
    font-size:17px;
    margin-top: 70px; 
    margin-left: -110px;
     
}

.weather
{
  display:none;  

}

.error
{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}